.layout {
  min-width: 1300px;
  min-height: 97vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content {
  margin-top: 4vw;
  padding: 0 0.5vw 0 0.5vw;
  display: grid;
  grid-template-columns: 2.8fr 1.2fr;
  grid-column-gap: 0.5vw;
}

.wrapper {
  flex-grow: 1;
  flex-shrink: 0;
}
